name: Rust pipeline
on:
  push:
    branches:
      - stable
      - dev
  pull_request:
    branches:
      - stable
      - dev

jobs:
  check:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [nightly-2022-03-17]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: check

  fmt:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [nightly-2022-03-17]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
        components: rustfmt
    - uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [nightly-2022-03-17]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
        components: clippy
    - name: Run cargo clippy
      uses: actions-rs/cargo@v1
      with:
        command: clippy
        args: -- -D warnings

  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [nightly-2022-03-17]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: test

  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [nightly-2022-03-17]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release
